* {
    /* BOX MODEL */
    box-sizing:     content-box;
    width:          auto;
    min-width:      0;
    max-width:      none;
    height:         auto;
    min-height:     0;
    max-height:     none;
    padding-top:    10px;
    padding-right:  10px;
    padding-bottom: 10px;
    padding-left:   10px;
    border:         none;
    outline:        0;
    margin-top:     0;
    margin-right:   20px;
    margin-bottom:  20px;
    margin-left:    0;

    /* BACKGROUND */
    background-color:   transparent;
    background-image:   url('../img/some.jpg');
    background-repeat:  no-repeat;
    background-size:    cover;

    /* TEXT */
    color:              #000;
    text-align:         center;
    text-indent:        0;
    text-decoration:    none;
    font-size:          14px;
    font-weight:        normal;

    /* DISPLAY */
    display:    block;
    overflow:   hidden;

    /* POSITION */
    position:   static;
    top:        auto;
    right:      auto;
    bottom:     auto;
    left:       auto;
    z-index:    0;

}